<div class="everything">
  <aside>
    <nav>
      {{#link-to 'entities' classNames='item'}}
        {{fa-icon 'users'}}
        <label>Entities</label>
      {{/link-to}}
      {{#link-to 'retailers' classNames='item'}}
        {{fa-icon 'shopping-cart'}}
        <label>Retailers</label>
      {{/link-to}}
      {{#link-to 'issues' classNames='item'}}
        {{fa-icon 'book'}}
        <label>Issues</label>
      {{/link-to}}
      {{#link-to 'transactions' classNames='item'}}
        {{fa-icon 'dollar'}}
        <label>Transactions</label>
      {{/link-to}}
      {{#link-to 'settings' classNames='item'}}
        {{fa-icon 'gear'}}
        <label>Settings</label>
      {{/link-to}}
    </nav>
  </aside>
  <main>
    {{outlet}}
  </main>
</div>
