<h3>{{title}}</h3>

Features:
<ul>
  {{#each features}}
    <li>{{title}}</li>
  {{/each}}
</ul>

{{#if isEditing}}
  <p>{{input type='text' name='title' value=title}}</p>
  <button {{action 'doneEditing'}}>Done</button>
{{else}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}
